@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}
.portfolio{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
    
}
.portfolio .portfolio-left {
    width: 280px;
    background: #0bb5f4;
    text-align: center;

}  
.portfolio .portfolio-left .profilePicture {
    width: 100%;
    height: 280px;
}
  
.portfolio .portfolio-left .profilePicture img {
    width: 100%;
    height: 100%;
}
.portfolio .portfolio-left .extraInfo {
    padding: 0 25px;
    border-bottom: 2px solid #b1eaff;
    
    
}
h2{
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
#bio{
    color: #b1eaff;
    padding: 1px 0 0;
}
#noofRepo, #gitl, #location{
    color: #b1eaff;
    padding: 1px 0 0 0;
}
.Skills{
    color: #b1eaff;
    padding: 1px 0 0 0;
}
.projectlist{
    color:#fff;
    padding:0 0 20px 0;
    border-bottom: 2px solid #b1eaff;

}
.portfolio .portfolio-right{
    width: 520px;
    background: #fff;
    padding: 25px;
}
.title{
    color:#0bb5f4;
    padding:10px 0 10px 10px;
}
#reposName{
    color:#2e2323;
    padding:1px 0 0 10px;
    font-weight: 300;
}
#loading{
    text-align: center;
    padding:50%;
    color:#0bb5f4;
    font-weight: 700;
    font-size: 30px;
}